<footer class="page-footer" itemprop="footer" itemscope itemtype="http://schema.org/WPFooter">
			<div class="footer-first-section">
				<div class="container">
					<div class="box-wrap" itemprop="about">
						<header>
							<h1>about</h1>
						</header>
						<p> Skills Training for sustainable development</p>

						<h4><a href="tel:+260-977-370-130"><i class="fas fa-phone"></i> +260-977-370-130</a></h4>
						<h4><a href="mailto:info@educationpro.com"><i class="fas fa-envelope"></i> chipatatrades@yahoo.com</a></h4>
						<h4><a href=""><i class="fas fa-map-marker-alt"></i>Chipata, Eastern province</a></h4>
					</div>

					<div class="box-wrap">
						<header>
							<h1>links</h1>
						</header>
						<ul>
							<li><a href="gallery.php">Gallery</a></li>
							<li><a href="course.php">Courses</a></li>
							<li><a href="fees.php">Fees</a></li>
						</ul>
					</div>

					

					<div class="box-wrap">
						<header>
							<h1>Quick contact</h1>
						</header>
						<section class="quick-contact">
							<input type="email" name="email" placeholder="Your Email*">
							<textarea placeholder="Type your message*"></textarea>
							<button>send message</button>
						</section>
					</div>

				</div>
			</div>
			<!-- End of box-Wrap -->
			<div class="footer-second-section">
				<div class="container">
					<hr class="footer-line">
					<ul class="social-list">
						<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-skype"></i></a></li>
						<li><a href=""><i class="fab fa-youtube"></i></a></li>
						<li><a href=""><i class="fab fa-instagram"></i></a></li>
					</ul>
					<hr class="footer-line">
				</div>
			</div>
			<div class="footer-last-section">
				<div class="container">
					<p>Copyright 2018 &copy; ctti.ac.zm <span> | </span> <a href="https://labtheme.com"> </a></p>
				</div>
			</div>
		</footer>

	</div>
        <script src="{{ asset('js/loader.js') }}"></script>   
        <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	    <script type="text/javascript" src="/js/lightbox.js"></script>
	    <script type="text/javascript" src="/js/all.js"></script>
	    <script type="text/javascript" src="/js/isotope.pkgd.min.js"></script>
	    <script type="text/javascript" src="/js/owl.carousel.js"></script>
	    <script type="text/javascript" src="/js/jquery.flexslider.js"></script>
	   <!-- <script type="text/javascript" src="js/jquery.mmenu.all.js"></script> -->
	    <!-- <script type="text/javascript" src="js/jquery.meanmenu.min.js"></script> -->
	    <script type="text/javascript" src="/js/custom.js"></script> 
</body>
</html>