
<body>
	<div id="page" class="site" itemscope itemtype="http://schema.org/LocalBusiness">
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="top-header-left">
						<div class="top-header-block">
							<ca href="chipatatrades@yahoo.com" itemprop="email"><i class="fas fa-envelope"></i>chipatatrades@yahoo.com</ca>
						</div>
						<div class="top-header-block">
							<a href="tel:+260-977-370-130" itemprop="telephone"><i class="fas fa-phone"></i> +260-977-370-130</a>
						</div>
					</div>
					<div class="top-header-right">
						<div class="social-block">
							<ul class="social-list">
								<li><a href=""><i class="fab fa-viber"></i></a></li>
								<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-messenger"></i></a></li>
								<li><a href=""><i class="fab fa-twitter"></i></a></li>
								<li><a href=""><i class="fab fa-skype"></i></a></li>
							</ul>
						</div>
						<div class="login-block">
							<a href="admin/index.php">Login /</a>
							<a href="admin/index.php">Register</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Top header Close -->
			<div class="main-header">
				<div class="container">
					<div class="logo-wrap" itemprop="logo">
						<img src="assets/images/logo3.png" style="width: 90px; height: 90px;"alt="Logo Image">
						<!-- <h1>Education</h1> -->
					</div>
					<div class="nav-wrap">
						<nav class="nav-desktop">
							<ul class="menu-list">
								<li><a href="index.php">Home</a></li>
								<li class="menu-parent">Courses
									<ul class="sub-menu">
										<li><a href="courses.php">Business & Agriculture</a></li>
										<li><a href="courses.php">Engineering</a></li>
									<!--<	<li class="menu-parent">Child
											<ul class="sub-menu">
												<!--<li><a href="">Grand-child</a></li>
												<li><a href="">Grand-child</a></li>
											</ul> -->
										</li>
									</ul>
								</li>
								<li><a href="events.php">News</a></li>
								<li><a href="about.php">About</a></li>
								<li><a href="gallery.php">Gallery</a></li>
								<li><a href="contact.php">Contact</a></li>
							</ul>
						</nav>
						<div id="bar">
							<i class="fas fa-bars"></i>
						</div>
						<div id="close">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Header Close -->
		<div class="banner">
			<div class="owl-four owl-carousel" itemprop="image">
				<img src="assets/images/home-background.jpg" alt="Image of Bannner" style="height:600px;">
				<img src="assets/images/page-banner2.jpg" alt="Image of Bannner">
				<img src="assets/images/page-banner3.jpg" alt="Image of Bannner">
			</div>
			<div class="container" itemprop="description">
				<h1>welcome to Chipata Trades Institute</h1>
				<h3>With our diverse skills training you can now find the skills for you...</h3>
			</div>
			 <div id="owl-four-nav" class="owl-nav"></div>
		</div>