{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}| Applications{% endblock %}
 {% block body %}
 {{ include('pages/nav-links.html.twig') }}



<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Applications not available at this moment. Check in later.</h1>

    
    <ul>
        
    </ul>
</div>
{{ include('pages/footer.html.twig') }}
{% endblock %}
