<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8">
       <title>{% block title %}Chipata Trades Institute{% endblock %}</title>
       <link rel="icon" href="{{ asset('images/logo3.png') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="css/all.css">
        <link rel="stylesheet" type="text/css" href="/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="/css/lightbox.css">
        <link rel="stylesheet" type="text/css" href="/css/flexslider.css">
        <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="/css/owl.theme.default.css">
        <link rel="stylesheet" type="text/css" href="/css/jquery.rateyo.css"/>
        <!-- <link rel="stylesheet" type="text/css" href="css/jquery.mmenu.all.css" /> -->
        <!-- <link rel="stylesheet" type="text/css" href="css/meanmenu.min.css"> -->
        <link rel="stylesheet" type="text/css" href="/css/inner-page-style.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet"
	   {% endblock %}

        {% block javascripts %}
             
        {% endblock %}
    </head>

    <body>

        {% block body %}
   

        {% endblock %}
    </body>
</html>
